.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.nav-container > button{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-container > button:hover{
    color: blue;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 12px;
    height: 50vh;
    margin: 5px;
}